<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="parent" class="com.gjk.spring_learn.basis.mergedLocalBeanDefinition.Parent">
		<property name="name" value="parentName" />
	</bean>

	<bean id="child" parent="parent">
		<property name="name" value="childName"/>
	</bean>

	<bean id="factoryMethodTest1" class="com.gjk.spring_learn.basis.factoryMethod.FactoryMethodTest1" factory-method="getFactoryMethodTest2">

	</bean>
</beans>
